<div id="infobar" class="accordian">
    <div class="accordion-item">
        <a href="{{page}}" class="accordion-header" style="text-decoration:none;">
            <div class="h4 px-1 py-1">
                    <i class="bi {{#icon}}{{icon}}{{/icon}}{{^icon}}bi-file-earmark-fill"{{/icon}}></i>&nbsp;{{name}}

        <!--            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-preview">Preview</button>-->
            </div>
        </a>
    </div>
    <div class="accordion-item">
        <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-preview">Preview</button>
        </div>
        <div id="infobar-preview" class="accordion-collapse collapse show">
            <img src="{{preview}}" class="w-100" style="object-fit:contain;">
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-description">Description</button>
        </div>
        <div id="infobar-description" class="accordion-collapse collapse show">
            {{#description}}
                <div class="px-1 pb-1">{{description}}</div>
            {{/description}}
            {{^description}}
                <div class="px-1 pb-1 text-muted">No description provided.</div>
            {{/description}}
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-tags">Tags</button>
        </div>
        <div id="infobar-tags" class="accordion-collapse collapse show">
            {{#tags}}
                <div class="px-1 pb-1">{{tags}}</div>
            {{/tags}}
            {{^tags}}
                <div class="px-1 pb-1 text-muted">No tags provided.</div>
            {{/tags}}
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-properties">Properties</button>
        </div>
        <div id="infobar-properties" class="accordion-collapse collapse show">
            <table class="table table-borderless">
                <tbody>
                <tr>
                        <td>Location</td>
                        <td>
                            {{#file_path}}
                            <div class="row">
                                <div class="col-10" id="file_path_selectable">
                                    {{file_path}}
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn px-2 py-1" onclick="/js/copy-to-clipboard.js" data-target="file_path_selectable"><i class="bi bi-pencil-square" style="font-size:1em;"></i></button>
                                </div>
                            </div>
                            {{/file_path}}
                            {{^file_path}}<span class="text-muted">-</span>{{/file_path}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4">Type</td>
                        <td class="col-8">
                            {{#mime}}{{mime}}{{/mime}}
                            {{^mime}}<span class="text-muted">-</span>{{/mime}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4">Size</td>
                        <td class="col-8">
                            {{#size}}{{value}}&nbsp;{{unit}}{{/size}}
                            {{^size}}<span class="text-muted">-</span>{{/size}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4">MD5</td>
                        <td class="col-8">
                            {{#md5_hash}}{{md5_hash}}{{/md5_hash}}
                            {{^md5_hash}}<span class="text-muted">-</span>{{/md5_hash}}
                        </td>
                    </tr>
                    {{#created_disabled}}<!--Disable Created On Unix Systems-->{{/created_disabled}}
                    {{^created_disabled}}
                    <tr>
                        <td class="col-4">Created</td>
                        <td class="col-8">
                            {{#creation_date}}{{creation_date}}{{/creation_date}}
                            {{^creation_date}}<span class="text-muted">-</span>{{/creation_date}}
                        </td>
                    </tr>
                    {{/created_disabled}}
                    <tr>
                        <td class="col-4">Modified</td>
                        <td class="col-8">
                            {{#modified_date}}{{modified_date}}{{/modified_date}}
                            {{^modified_date}}<span class="text-muted">-</span>{{/modified_date}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4">Uploaded</td>
                        <td class="col-8">
                            {{#uploaded_date}}{{uploaded_date}}{{/uploaded_date}}
                            {{^uploaded_date}}<span class="text-muted">-</span>{{/uploaded_date}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4">Updated</td>
                        <td class="col-8">
                            {{#updated_date}}{{updated_date}}{{/updated_date}}
                            {{^updated_date}}<span class="text-muted">-</span>{{/updated_date}}
                        </td>
                    </tr>
                    {{#properties}}
                    <tr>
                        <td class="col-4">{{name}}</td>
                        <td class="col-8">{{value}}</td>
                    </tr>
                    {{/properties}}
                </tbody>
            </table>
        </div>
    </div>
    <!-- VH-100 introduces jitter in accordian -->
    <!-- So we're stuck with this ugly whitespace... for now... -->
</div>

<!--        <ul class="list-group h-100">-->
<!--            <li class="list-group-item">-->
<!--                <div class="row">-->
<!--                    <a href="{{page}}">-->
<!--                        <div class="col-10 h4"><i class="bi bi-file-earmark-fill"></i>&nbsp;{{name}}</div>-->
<!--                    </a>-->
<!--                    <div class="col-2"><button type="button" class="btn btn-close"></button></div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="list-group-item p-1">-->
<!--                <img src="{{preview}}" class="w-100" style="object-fit:contain;">-->
<!--            </li>-->
<!--            <li class="list-group-item">-->
<!--                <div class="row">-->
<!--                    <div class="col-10 h5">Description</div>-->
<!--                    <div class="col-2">-->
<!--                        <button type="button" class="btn px-2 py-1"><i class="bi bi-pencil-square" style="font-size:1em;"></i></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    {{#description}}{{description}}{{/description}}-->
<!--                    {{^description}}<span class="text-muted">No description given.</span>{{/description}}-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="list-group-item">-->
<!--                <div class="row">-->
<!--                    <div class="col-10 h5">Tags</div>-->
<!--                    <div class="col-2">-->
<!--                        <button type="button" class="btn px-2 py-1"><i class="bi bi-pencil-square" style="font-size:1em;"></i></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    {{#tags}}-->
<!--                    {{/tags}}-->
<!--                    {{^tags}}<span class="text-muted">No tags given.</span>{{/tags}}-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="list-group-item">-->
<!--                <a class="h5" data-bs-toggle="collapse" href="#infobar-properties">Properties</a>-->
<!--                <div id="infobar-properties">-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="list-group-item h-100"></li>-->
<!--        </ul>-->