{{#pagination}}
    <nav class="row mx-auto w-50 justify-content-center">
        <ul class="pagination">
            {{#pages}}
                {{#link}}
                    <li class="page-item {{status}}">
                        <a href="{{url}}" class="page-link">{{text}}</a>
                    </li>
                {{/link}}
                {{#plain}}
                    <li class="page-item {{status}}"><span class="page-link">{{symbol}}</span></li>
                {{/plain}}
            {{/pages}}
        </ul>
    </nav>
{{/pagination}}
{{^pagination}}
    <!-- If you are reading this, then somebody goofed the pagination script -->
{{/pagination}}