
.badge-method-get {
  color: #fff;
  background-color: #007bff;
}

a.badge-method-get:hover, a.badge-method-get:focus {
  color: #fff;
  background-color: #0062cc;
}

a.badge-method-get:focus, a.badge-method-get.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.badge-method-post {
  color: #fff;
  background-color: #28a745;
}

a.badge-method-post:hover, a.badge-method-post:focus {
  color: #fff;
  background-color: #1e7e34;
}

a.badge-method-post:focus, a.badge-method-post.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-method-patch {
  color: #fff;
  background-color: #17a2b8;
}

a.badge-method-patch:hover, a.badge-method-patch:focus {
  color: #fff;
  background-color: #117a8b;
}

a.badge-method-patch:focus, a.badge-method-patch.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-method-put{
  color: #fff; /* #212529; */
  background-color: #E69900; /* #ffc107; */
}

a.badge-method-put:hover, a.badge-method-put:focus {
  color:  #fff; /* #212529; */
  background-color: #B37700;/* #d39e00;*/
}

a.badge-method-put:focus, a.badge-method-put.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(230, 153, 7, 0.5);
}

.badge-method-delete {
  color: #fff;
  background-color: #dc3545;
}

a.badge-method-delete:hover, a.badge-method-delete:focus {
  color: #fff;
  background-color: #bd2130;
}

a.badge-method-delete:focus, a.badge-method-delete.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-method-not-allowed-d {
  color: #aaa;
  background-color: #343a40;
}

a.badge-method-not-allowed-d:hover, a.badge-method-not-allowed-d:focus {
  color: #aaa;
  background-color: #1d2124;
}

a.badge-method-not-allowed-d:focus, a.badge-method-not-allowed-d.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.badge-method-not-allowed-l {
  color: #888888;
  background-color: #f8f9fa;
}

a.badge-method-not-allowed-l:hover, a.badge-method-not-allowed-l:focus {
  color: #888888;
  background-color: #dae0e5;
}

a.badge-method-not-allowed-l:focus, a.badge-method-not-allowed-l.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}



.badge-method-not-allowed {
  color: #999999;
  background-color: transparent;
}

a.badge-method-not-allowed:hover, a.badge-method-not-allowed:focus {
  color: #999999;
  background-color: transparent;
}

a.badge-method-not-allowed:focus, a.badge-method-not-allowed.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(150, 154, 157, 0.5);
}
