:root {
    --method-post: #28a745;
}

.table-method-post,
.table-method-post > th,
.table-method-post > td {
    background-color: #c3e6cb;
}

.table-method-post th,
.table-method-post td,
.table-method-post thead th,
.table-method-post tbody + tbody {
    border-color: #8fd19e;
}

.table-hover .table-method-post:hover {
    background-color: #b1dfbb;
}

.table-hover .table-method-post:hover > td,
.table-hover .table-method-post:hover > th {
    background-color: #b1dfbb;
}

.btn-method-post {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-method-post:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-method-post:focus, .btn-method-post.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-method-post.disabled, .btn-method-post:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-method-post:not(:disabled):not(.disabled):active, .btn-method-post:not(:disabled):not(.disabled).active,
.show > .btn-method-post.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.btn-method-post:not(:disabled):not(.disabled):active:focus, .btn-method-post:not(:disabled):not(.disabled).active:focus,
.show > .btn-method-post.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-outline-method-post {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-method-post:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-method-post:focus, .btn-outline-method-post.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-method-post.disabled, .btn-outline-method-post:disabled {
    color: #28a745;
    background-color: transparent;
}

.btn-outline-method-post:not(:disabled):not(.disabled):active, .btn-outline-method-post:not(:disabled):not(.disabled).active,
.show > .btn-outline-method-post.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-method-post:not(:disabled):not(.disabled):active:focus, .btn-outline-method-post:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-method-post.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-method-post {
    color: #fff;
    background-color: #28a745;
}

a.badge-method-post:hover, a.badge-method-post:focus {
    color: #fff;
    background-color: #1e7e34;
}

a.badge-method-post:focus, a.badge-method-post.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.alert-method-post {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-method-post hr {
    border-top-color: #b1dfbb;
}

.alert-method-post .alert-link {
    color: #0b2e13;
}

.list-group-item-method-post {
    color: #155724;
    background-color: #c3e6cb;
}

.list-group-item-method-post.list-group-item-action:hover, .list-group-item-method-post.list-group-item-action:focus {
    color: #155724;
    background-color: #b1dfbb;
}

.list-group-item-method-post.list-group-item-action.active {
    color: #fff;
    background-color: #155724;
    border-color: #155724;
}

.bg-method-post {
    background-color: #28a745 !important;
}

a.bg-method-post:hover, a.bg-method-post:focus,
button.bg-method-post:hover,
button.bg-method-post:focus {
    background-color: #1e7e34 !important;
}

.border-method-post {
    border-color: #28a745 !important;
}

.text-method-post {
    color: #28a745 !important;
}

a.text-method-post:hover, a.text-method-post:focus {
    color: #19692c !important;
}
