<div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 py-2">
    <div class="card mb-4 h-100">
        <h6 class="card-header">
            {{#name}}{{name}}{{/name}}
            {{^name}}'Untitled Page'{{/name}}
        </h6>
        {{#content}}
            {{#image}}
                <a href="{{page_path}}" class="mx-auto my-auto">
                    <img class="card-img-top" alt="{{description}}" src="/{{content_path}}"
                         style="max-height: 256px; max-width: 256px">
                </a>
            {{/image}}
            {{#embed}}
                <embed class="card-img-top" alt="{{description}}" src="/{{content_path}}"
                       style="max-height: 256px; max-width: 256px">
                <a href="{{page_path}}" class="mx-auto my-auto">
                </a>
            {{/embed}}
            {{#unsupported}}
                <div class="card-body align-content-center">
                    <a href="{{page_path}}" class="mx-auto my-auto">
                        <div class="card-text text-center">
                            Preview Not Supported
                            {{#file}}<br>{{extension}}{{/file}}
                            {{#description}}<br>{{description}}{{/description}}
                        </div>
                    </a>
                </div>
            {{/unsupported}}
        {{/content}}
        {{^content}}
            <div class="card-body align-content-center">
                <a href="{{page_path}}" class="mx-auto my-auto">
                    <div class="card-text text-center">
                        No Preview Available
                        {{#file}}<br><br>{{extension}}{{/file}}
                        {{#description}}<br>{{description}}{{/description}}
                    </div>
                </a>
            </div>
        {{/content}}
    </div>
</div>