
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ImageServer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#navbar}}
            <li class="nav-item {{status}}">
                <a class="nav-link" href="{{path}}">{{text}}</a>
            </li>
            {{/navbar}}
        </ul>
    </div>
</nav>