<div id="infobar" class="accordian">
    <div class="accordion-item">
        <a href="{{page}}" class="accordion-header" style="text-decoration:none;">
            <div class="h4 px-1 py-1">
                    <i class="bi {{#icon}}{{icon}}{{/icon}}{{^icon}}bi-file-earmark-fill{{/icon}}"></i>&nbsp;{{name}}
            </div>
        </a>
    </div>
    {{#preview}}
    <div class="accordion-item">
        <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-preview">Preview</button>
        </div>
        <div id="infobar-preview" class="accordion-collapse collapse show">
            <img src="{{preview}}" class="w-100 aspect-4x3" style="object-fit:contain;">
        </div>
    </div>
    {{/preview}}
    <div class="accordion-item">
        <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-description">Description</button>
        </div>
        <div id="infobar-description" class="accordion-collapse collapse show">
            {{#description}}
                <div class="px-1 pb-1">{{description}}</div>
            {{/description}}
            {{^description}}
                <div class="px-1 pb-1 text-muted">No description provided.</div>
            {{/description}}
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-tags">Tags</button>
        </div>
        <div id="infobar-tags" class="accordion-collapse collapse show">
            {{#tags}}
                <div class="px-1 pb-1">{{tags}}</div>
            {{/tags}}
            {{^tags}}
                <div class="px-1 pb-1 text-muted">No tags provided.</div>
            {{/tags}}
        </div>
    </div>
    <div class="accordian-item">
        <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infobar-properties">Properties</button>
        </div>
        <div id="infobar-properties" class="accordion-collapse collapse show">
            <div class="w-100 px-2">
                <div class="row">
                    <div class="col-4">Location</div>
                    {{#path}}
                    <div class="col-6">
                        {{#path_formatted}}{{{path_formatted}}}{{/path_formatted}}
                        {{^path_formatted}}{{path}}{{/path_formatted}}
                    </div>
                    <div class="col-2 px-0 mx-0">
                        <button type="button" class="btn p-0 mx-0" onclick="/js/copy-to-clipboard.js" data-value="{{path}}"><i class="bi bi-clipboard" style="font-size:1em;"></i></button>
                    </div>
                    {{/path}}
                    {{^path}}<div class="col-8 text-muted">-</div>{{/path}}
                </div>
                <hr class="my-1 mx-n4">
                <div class="row">
                    <div class="col-4">Type</div>
                    <div class="col-8">
                        {{#mime}}{{mime}}{{/mime}}
                        {{^mime}}<span class="text-muted">-</span>{{/mime}}
                    </div>
                </div>
                <hr class="my-1 mx-n4">
                <div class="row">
                    <div class="col-4">Size</div>
                    <div class="col-8">
                        {{#size_bytes}}{{size_bytes}}&nbsp;B{{/size_bytes}}
                        {{^size_bytes}}
                            {{#size}}{{value}}&nbsp;{{unit}}{{/size}}
                            {{^size}}<span class="text-muted">-</span>{{/size}}
                        {{/size_bytes}}
                    </div>
                </div>
                <hr class="my-1 mx-n4">
                <div class="row">
                    <div class="col-4">MD5</div>
                    {{#hash_md5}}
                    <div class="col-6" style="overflow-wrap:anywhere;">{{hash_md5}}</div>
                    <div class="col-2 px-0 mx-0">
                        <button type="button" class="btn p-0 mx-0" onclick="/js/copy-to-clipboard.js" data-value="{{hash_md5}}"><i class="bi bi-clipboard" style="font-size:1em;"></i></button>
                    </div>
                    {{/hash_md5}}
                    {{^hash_md5}}<div class="col-8"><span class="text-muted">-</span></div>{{/hash_md5}}
                </div>
                {{#created_disabled}}<!--Disable Created On Unix Systems-->{{/created_disabled}}
                {{^created_disabled}}
                <hr class="my-1 mx-n4">
                <div class="row">
                    <div class="col-4">Created</div>
                    <div class="col-8">
                        {{#date_created}}{{date_created}}{{/date_created}}
                        {{^date_created}}<span class="text-muted">-</span>{{/date_created}}
                    </div>
                </div>
                {{/created_disabled}}
                <hr class="my-1 mx-n4">
                <div class="row">
                    <div class="col-4">Modified</div>
                    <div class="col-8">
                        {{#date_modified}}{{date_modified}}{{/date_modified}}
                        {{^date_modified}}<span class="text-muted">-</span>{{/date_modified}}
                    </div>
                </div>
                <hr class="my-1 mx-n4">
                <div class="row">
                    <div class="col-4">Uploaded</div>
                    <div class="col-8">
                        {{#date_uploaded}}{{date_uploaded}}{{/date_uploaded}}
                        {{^date_uploaded}}<span class="text-muted">-</span>{{/date_uploaded}}
                    </div>
                </div>
                <hr class="my-1 mx-n4">
                <div class="row">
                    <div class="col-4">Updated</div>
                    <div class="col-8" style="overflow-wrap: anywhere;">
                        {{#date_updated}}{{date_updated}}{{/date_updated}}
                        {{^date_updated}}<span class="text-muted">-</span>{{/date_updated}}
                    </div>
                </div>
                {{#properties}}
                <hr class="my-1 mx-n4">
                <div class="row">
                    <div class="col-4">{{name}}</div>
                    <div class="col-8">{{value}}</div>
                </div>
                {{/properties}}
            </div>
        </div>
    </div>
    <div class="accordian-item"></div>
</div>