{{#get}}
    <a class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-get" href="{{get}}">GET</a>
{{/get}}
{{^get}}
    <div class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-not-allowed">GET</div>
{{/get}}
{{#post}}
    <a class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-post" href="{{post}}">POST</a>
{{/post}}
{{^post}}
    <div class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-not-allowed">POST</div>
{{/post}}
{{#put}}
    <a class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-put" href="{{put}}">PUT</a>
{{/put}}
{{^put}}
    <div class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-not-allowed">PUT</div>
{{/put}}
{{#patch}}
    <a class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-patch" href="{{patch}}">PATCH</a>
{{/patch}}
{{^patch}}
    <div class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-not-allowed">PATCH</div>
{{/patch}}
{{#delete}}
    <a class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-delete" href="{{delete}}">DELETE</a>
{{/delete}}
{{^delete}}
    <div class="btn {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline{{/outline}}method-not-allowed">DELETE</div>
{{/delete}}