{{#get}}
    <a class="badge {{#pill}}badge-pill {{/pill}}badge-method-get" href="{{get}}">GET</a>
{{/get}}
{{^get}}
    <div class="badge {{#pill}}badge-pill {{/pill}}badge-method-not-allowed">GET</div>
{{/get}}
{{#post}}
    <a class="badge {{#pill}}badge-pill {{/pill}}badge-method-post" href="{{post}}">POST</a>
{{/post}}
{{^post}}
    <div class="badge {{#pill}}badge-pill {{/pill}}badge-method-not-allowed">POST</div>
{{/post}}
{{#put}}
    <a class="badge {{#pill}}badge-pill {{/pill}}badge-method-put" href="{{put}}">PUT</a>
{{/put}}
{{^put}}
    <div class="badge {{#pill}}badge-pill {{/pill}}badge-method-not-allowed">PUT</div>
{{/put}}
{{#patch}}
    <a class="badge {{#pill}}badge-pill {{/pill}}badge-method-patch" href="{{patch}}">PATCH</a>
{{/patch}}
{{^patch}}
    <div class="badge {{#pill}}bad  ge-pill {{/pill}}badge-method-not-allowed">PATCH</div>
{{/patch}}
{{#delete}}
    <a class="badge {{#pill}}badge-pill {{/pill}}badge-method-delete" href="{{delete}}">DELETE</a>
{{/delete}}
{{^delete}}
    <div class="badge {{#pill}}badge-pill {{/pill}}badge-method-not-allowed">DELETE</div>
{{/delete}}