<div class="card" id="{{id}}">
    <h2 class="card-header badge-method-{{method_lower}}">{{method_upper}}</h2>
    <div class="card-body">
        <p class="card-text">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        {{#has_arguments}}
            <li class="list-group-item">
                <table class="table">
                    <caption class="h3" style="caption-side: top">Query Arguments</caption>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Optional</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#arguments}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{type}}</td>
                            <td>{{optional}}</td>
                            <td>{{description}}</td>
                        </tr>
                    {{/arguments}}
                    </tbody>
                </table>
            </li>
        {{/has_arguments}}
    </ul>
    <div class="btn-group btn-block">
        {{#method_links}}
            {{>api/method_button}}
        {{/method_links}}
    </div>
</div>