<div class="card" id="{{id}}">
    <h5 class="card-header badge-method-{{method_lower}}">{{method_upper}}</h5>
    <div class="card-body">
        <p class="card-text">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        {{#arguments}}
            <li class="list-group-item">
                <h6>Arguments</h6>
                <dl class="card_body" style="list-style-type: none;">
                    {{#required}}
                        <dt class="h6">{{text}}</dt>
                        <dd>{{description}}</dd>
                    {{/required}}
                </dl>
            </li>
        {{/arguments}}
    </ul>
    <div class="btn-group btn-block">
        {{#method_links}}
            {{>api/method_button}}
        {{/method_links}}
    </div>
</div>