{{#allowed}}
    <a class="btn rounded-0 {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline-{{/outline}}method-{{method}}" href="{{href}}">{{text}}</a>
{{/allowed}}
{{^allowed}}
    <div class="btn rounded-0 {{#active}}active {{/active}}{{#disabled}}disabled {{/disabled}}btn-{{#outline}}outline-{{/outline}}method-not-allowed">{{text}}</div>
{{/allowed}}