{{#allowed}}
    <a class="badge {{#pill}}badge-pill {{/pill}}badge-method-{{method}}" href="{{href}}">{{text}}</a>
{{/allowed}}
{{^allowed}}
    <div class="badge {{#pill}}badge-pill {{/pill}}badge-method-not-allowed">{{text}}</div>
{{/allowed}}